<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Inicio</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('portal') }}">Portal</a>
    </nav>
    <h1>REDISEÑO DE LA PLATAFORMA DE</h1>
    <h1>UNIVERSITARIA DE COLOMBIA</h1>
    
</body>
</html>
