<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ll</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_ll.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/Logo_universitaria.png') }}" alt="logo">
            </a>
            <h1>Bienvenido a Universitaria</h1>
            <h1>de Colombia</h1>
            <p>Pasión por triunfar.</p>
        </div>
        <div class="right-panel">
            <h2>Ingresar</h2>
            <form>
                <div class="input-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" placeholder="Nombre de usuario">
                </div>
                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Contraseña">
                </div>
                <div class="options">
                    <label><input type="checkbox"> Recordarme</label>
                    <a href="#">Olvido su contraseña?</a>
                </div>
                <button type="submit">Ingresar</button>
                <p class="signup">No tienes cuenta? <a href="">Registrarse</a></p>
            </form>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook">
                </a>
                <a href="https://www.whatsapp.com" target="_blank">
                    <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="YouTube">
                </a>
            </div>
        </div>
    </div>
</body>
</html>
